/* Hide scrollbar for booking tabs */
.booking__tabs::-webkit-scrollbar {
    display: none;
}

.booking__tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.healcode * {
    font-family: 'Synonym variable', sans-serif !important;
    color: #010104;
}

.header>h1 {
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

a.action_icon.cart_version,
a.action_icon.my_account_version,
.hc_footer {
    display: none;
}

.healcode.appointments select {
    width: 100%;
    border: 3px solid #4b206c;
    border-radius: 10px;
    padding: 10px;
    color: #4b206c;
    font-weight: 600;
    background-image: url(https://uploads-ssl.webflow.com/6407e05ebc4258bda8cc21a4/641820fbce6c863b8c0bf149_down.svg);
    background-repeat: no-repeat;
    background-position: 100% top;
    background-size: 35px 100%;
    background-color: #efdbff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.ui-datepicker {
    width: 100%;
    padding: 0;
    margin: 20px 0;
}

.ui-datepicker,
.ui-datepicker>* {
    border: none !important;
    background: none !important;
}

.ui-widget-header {
    color: #4b206c !important;
    padding: 0 !important;
    margin-bottom: 5px;
}

.ui-datepicker-header .ui-state-hover,
.ui-datepicker-header .ui-widget-content .ui-state-hover,
.ui-datepicker-header .ui-widget-header .ui-state-hover,
.ui-datepicker-header .ui-state-focus,
.ui-datepicker-header .ui-widget-content .ui-state-focus,
.ui-datepicker-header .ui-widget-header .ui-state-focus {
    border: none !important;
    background: #efdbff !important;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 12% !important;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-prev.ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next.ui-state-hover .ui-datepicker .ui-datepicker-next.ui-datepicker-next-hover {
    right: 0;
}

div.healcode .ui-datepicker .ui-datepicker-prev span,
div.healcode .ui-datepicker .ui-datepicker-next span {
    display: block !important;
    position: absolute !important;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover !important;
    background-position: center !important;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    margin: 0;
}

div.healcode .ui-datepicker .ui-datepicker-prev span,
.ui-icon-circle-triangle-w {
    background-image: url(https://uploads-ssl.webflow.com/6407e05ebc4258bda8cc21a4/6418172bce6c86b8370b362b_left.png) !important;

}

div.healcode .ui-datepicker .ui-datepicker-next span,
.ui-icon-circle-triangle-e {
    background-image: url(https://uploads-ssl.webflow.com/6407e05ebc4258bda8cc21a4/6418172c5aac6555c8a73954_right.png) !important;
}

.ui-datepicker th,
.ui-datepicker td {
    padding: calc(1px + 0.5vw) 1px !important;
    width: calc(100%/7) !important;
}

.ui-datepicker th {
    font-weight: normal;
    opacity: 0.6;
}

.ui-datepicker th>*,
.ui-datepicker td>* {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 10% !important;
    text-align: center !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 3px solid #fff !important;
    border-radius: 999px;
    color: #010104 !important;
    font-weight: 500 !important;
    font-variation-settings: "wght" 550;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #fff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #F9F2FF !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #9151C3 !important;
    border-color: #9151C3 !important;
    color: #F9F2FF !important;
}

.ui-datepicker-calendar .ui-state-hover {
    background: #efdbff !important;
    border-color: #efdbff !important;
    color: #4b206c !important;
}

#hc-find-appt {
    display: block;
    background-color: #4B206C;
    padding: 10px 20px;
    border: 3px solid #4B206C;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
    width: max-content;
    transition: all 0.2s ease-in-out;
}

#hc-find-appt:hover {
    background-color: #fff;
    color: #4B206C;
}

img#hc-find-appt-spinner {
    margin: 20px 0 20px 50%;
    transform: translateX(-50%);
}

#appointment_results>.healcode-appointments {
    background: #efdbff;
    border-radius: 20px;
    padding: 20px;
    color: #4B206C;
}

.appointment-date-block {
    display: block;
    position: relative;
}

.appointment-date-block:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #E8CBFF;
}

.appointment-date-block .healcode-date-label {
    font-size: 1rem;
    font-variation-settings: "wght" 500;
    width: 20%;
    color: #AA66E0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.healcode-trainer {
    margin-left: calc(20% + 10px);
}

.healcode-trainer:not(:last-child) {
    margin-bottom: 20px;
}

.trainer-label {
    margin-bottom: 5px;
    padding: 5px;
    background: #E8CBFF;
    border-radius: 5px;
    color: #4B206C;
}

.trainer-label a {
    text-decoration: none;
    font-weight: bolder;
}

.appointment.button {
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 1rem;
    background-color: #D7A4FF;
    border: none !important;
    color: #4b206c;
    transition: all 0.2s easy-in-out !important;
}

.appointment.button:hover {
    background-color: #4b206c;
    border-color: #4b206c;
    color: #D7A4FF;
}

.appointment.button a {
    text-decoration: none;
    color: inherit !important;
    transition: all 0.2s easy-in-out !important;
}